@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navManager

<h3>Logout</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // if (httpContext != null && httpContext.User.Identity.IsAuthenticated)
        // {
        navManager.NavigateTo($"/login/{1}", true);
        // }
    }
}

