.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #ffb32e;
    right: 0;
    padding: 1.2rem;
    border-radius: 10px 0 10px 0;
}

.expand {
    width: 18rem;
    border-radius: 10px 10px 10px 0;
    transition: all 100ms ease;
}

.collapse {
    width: 6rem;
    transition: all 100ms ease;
}

.menu-icon {
    color: #1a1a1a;
}

.menu-name {
    color: whitesmoke;
    opacity: 0;
    position: absolute;
    margin-left: 0.9rem;
    font-size: 22px;
    font-family: Roboto;
    font-weight: 500;
}

.expand .menu-name {
    opacity: 1;
    transition: opacity 0.7s ease; /* Same transition to ensure smooth animation */
}

.menu-item:hover .menu-name{
    color: white;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.menu-item:hover .menu-icon {
    color: white;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.img-margin {
    margin: 5px 5px 5px 5px;
    width: 3rem;
    transition: all 0.2s ease;
}

.expand .img-margin {
    margin: 0 auto;
    width: 6rem;
    transition: all 0.2s ease;
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 4rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 16rem;
    }

    .nav-item ::deep a.active .menu-icon {
        color: white;
        transform: scale(1.25);
        transition: transform 0.3s ease;
    }

    .nav-item ::deep .nav-link:hover {
    }


@media (max-width: 575px) {
    .container {
        display: none;
    }

    .menu-toggle-button {
        display: inline-block;
    }
}


@media (min-width: 576px) {
    .container {
        display: flex;
    }

    .menu-toggle-button {
        display: none;
    }
}