@inject NavigationManager navManager
@using APIService
@inject APIService apiClient

<div class="container d-flex flex-column flex-shrink-0 @(isExpanded ? "expand" : "collapse")"
     @onmouseenter="ExpandSideBar"
     @onmouseleave="CollapseSideBar">

    <img class="navbar-brand img-responsive img-margin" src="tup.png" alt="Logotup"/>
    <div class="nav-item">
        <NavLink class="nav-link menu-item mx-2 mb-1 mt-1" Match="NavLinkMatch.All">
        <span class="menu-icon fa-solid fa-gavel fa-2x">
                <a class="menu-name text-secondary-emphasis mt-2 text-decoration-none" href="">
                    Subastas
                </a>
        </span>
     </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link menu-item mx-2 mb-1 mt-1" href="closed" Match="NavLinkMatch.All">
            <span class="menu-icon fa-solid fa-clipboard-list fa-2x">
                <a class="menu-name text-secondary-emphasis mt-2 text-decoration-none">
                    Resultados
                </a>
            </span>
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link menu-item mx-2 mb-1 mt-1" role="button" @onclick="Navatoproducs" disabled Match="NavLinkMatch.All">
        <span class="menu-icon fa-solid fa-boxes-stacked fa-2x">
                <a class="menu-name text-secondary-emphasis mt-2 text-decoration-none">
                Productos
            </a>
        </span>
    </NavLink>
    </div>
        <div class="nav-item">
    <NavLink class="nav-link menu-item mx-2 mb-1 mt-1" Match="NavLinkMatch.All">
        <span class="menu-icon fa-solid fa-box fa-2x">
                <a class="menu-name text-secondary-emphasis mt-2 text-decoration-none" href="userProducts">
                Mis productos
            </a>
        </span>
    </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link menu-item mx-2 mb-1 mt-1" Match="NavLinkMatch.All">
            <span class="menu-icon fa-solid fa-tags fa-2x">
                <a class="menu-name text-secondary-emphasis mt-2 text-decoration-none" href="userbiddedProducts">
                    Mis ofertas
                </a>
            </span>
        </NavLink>
    </div>

 </div>

@code {
    bool isExpanded;
    private void ExpandSideBar()
    {
        isExpanded = true;
    }
    private void CollapseSideBar()
    {
        isExpanded = false;
    }

    public async void Navatoproducs()
    {
        navManager.NavigateTo($"/products/{await apiClient.GetProductoCount()}", true);
    }
}
