@using BlazorBootstrap
@using System.Security.Claims
@inject NavigationManager navManager
@using APIService
@inject APIService apiClient
@inherits LayoutComponentBase

<div class="page">
    <AutoHideSideBar></AutoHideSideBar>

    <main>
        <nav class="navbar navbar-expand-lg" data-bs-theme="dark" style="background:black;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Subastas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto d-flex">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mas</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Subastas proximas</a>
                                <a class="dropdown-item" href="#">Productos con mas ofertas</a>
                                <a class="dropdown-item" href="closed">Resultados de subastas</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Acerca de</a>
                            </div>
                        </li>
                    </ul>
                    <div class="d-sm-none">
                        <ul class="navbar-nav me-auto d-flex">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Acciones</a>
                                <div class="dropdown-menu ps-2 fs-5">
                                    <a class="nav-link" href="closed">
                                        <i class="fa-solid fa-clipboard-list"></i>
                                        Resultados
                                    </a>
                                    <a class="nav-link" @onclick="Navatoproducs">
                                        <i class="fa-solid fa-boxes-stacked"></i>
                                        Productos
                                    </a>
                                    <a class="nav-link" href="userProducts">
                                        <i class="fa-solid fa-box"></i>
                                        Mis productos
                                    </a>
                                    <a class="nav-link" href="userbiddedProducts">
                                        <i class="fa-solid fa-tags"></i>
                                        Mis ofertas
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="navbar-nav d-flex">
                    <AuthorizeView>
                        <NotAuthorized>
                            <li class="nav-item align-content-lg-end">
                                <a class="nav-link" href="/login">Iniciar Sesion</a>
                            </li>
                        </NotAuthorized>
                        <Authorized>
                                <li class="nav-item dropdown align-content-end">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@context.User.Identity.Name @context.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Surname).Value</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="profiledetails">Configuracion de perfil</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/logout">Cerrar sesion</a>
                                    </div>
                                </li>
                        </Authorized>
                    </AuthorizeView>
                    </ul>
                </div>
            </div>
        </nav>
        <article class="content px-4">
            <Toasts class="p-5" AutoHide="true" Delay="3000" Placement="ToastsPlacement.TopRight" />
            @Body
        </article>
        <footer class="py-3 my-4 footer">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Aca</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">va</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">info</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">de</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">empresa</a></li>
            </ul>
            <p class="text-center text-muted">© 2024 TUP</p>
        </footer>
    </main>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {

    public async void Navatoproducs()
    {
        navManager.NavigateTo($"/products/{await apiClient.GetProductoCount()}", true);
    }
}