<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AuctionDesktopProgram.Properties.Settings.ConnectionString"
            connectionString="Server=tcp:blass.database.windows.net,1433;Initial Catalog=subasta-db;Persist Security Info=False;User ID=blass;Password=1213141516thomas@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;" />
    </connectionStrings>
</configuration>