<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AuctionDesktopProgram.Properties.Settings.ConnectionString"
            connectionString="Persist Security Info=True;Initial Catalog=Subasta-DB;Data Source=.; Application Name=DemoApp; Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True;" />
    </connectionStrings>
</configuration>