<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AuctionDesktopProgram.Properties.Settings.ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Auction3;Trusted_Connection=True;TrustServerCertificate=True" />
    </connectionStrings>
</configuration>