@page "/"


@using APIService.Models
@using APIService
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Authorization;

@rendermode InteractiveServer
@attribute [Authorize]

@inject APIService apiClient
@inject NavigationManager navManager
@inject IJSRuntime js

<PageTitle>Subastas</PageTitle>

<div class="px-1 py-1 my-1 text-center">
    <div class="card-header bg-primary-subtle rounded-pill">
        <h1 class="display-3 fw-bold text-body-emphasis">Subastas</h1>
    </div>
</div>
<div class="container text-center my-3">
    <div class="row justify-content-evenly">
        @if (subastas?.Any() ?? false)
        {
            @foreach (var subasta in subastas)
            {
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Subasta Nro @subasta.IdSubasta: </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">@subasta.Descripcion</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Desde: @subasta.FechaInicio.ToString("dd/MM/yyyy")</li>
                            <li class="list-group-item">Hasta: @subasta.FechaCierre.ToString("dd/MM/yyyy")</li>
                            @if (subasta.Estado is null)
                            {
                                <li class="list-group-item">Actualmente: <p class="text-info-emphasis my-1">Proxima</p></li>
                            }
                            else if ((bool)!subasta.Estado)
                            {
                                <li class="list-group-item">Actualmente: <p class="text-danger my-1">Cerrada</p></li>
                            }
                            else
                            {
                                <li class="list-group-item">Actualmente: <p class="text-success my-1">Abierta</p></li>
                            }
                            <li class="list-group-item">
                                <div class="accordion accordion-flush" id="accordion-@subasta.IdSubasta">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@subasta.IdSubasta" aria-expanded="false" aria-controls="flush-collapseOne">
                                                Formas de pago
                                            </button>
                                        </h2>
                                        @foreach (var tipo in subasta.FormaDePago)
                                        {
                                            <div id="flush-collapse-@subasta.IdSubasta" class="accordion-collapse collapse" data-bs-parent="#accordion-@subasta.IdSubasta">
                                                <div class="accordion-body">*@tipo.ToString()</div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="accordion accordion-flush" id="accordion1-@subasta.IdSubasta">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@subasta.IdSubasta-1" aria-expanded="false" aria-controls="flush-collapseOne">
                                                Metodos de entrega
                                            </button>
                                        </h2>
                                        @foreach (var tipo in subasta.ModoEntrega)
                                        {
                                            <div id="flush-collapse-@subasta.IdSubasta-1" class="accordion-collapse collapse" data-bs-parent="#accordion1-@subasta.IdSubasta">
                                                <div class="accordion-body">*@tipo.ToString()</div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <div class="card-footer text-body-secondary">
                            <div class="btn-wrapper text-center d-flex justify-content-between">
                                <button @onclick="() => ShowProducts(subasta.IdSubasta)" class="btn btn-primary mx-1 ">Ver productos</button>
                                @if (subasta.Estado is null)
                                {
                                    <button @onclick="() => AddNew(subasta.IdSubasta)" class="btn btn-primary mx-1 " style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                        Agregar un producto
                                    </button>
                                }
                                else
                                {
                                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-title="Esta subasta ya no acepta solicitudes">
                                        <button class="btn btn-primary mx-1" disabled style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Agregar un producto</button>
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="px-1 py-1 my-1 text-center">
                <div class="card-header">
                    <h1 class="display-3 fw-bold text-body-emphasis">--No hay subastas disponibles--</h1>
                </div>
            </div>
        }
    </div>
</div>
@code {
    private string Name = null;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private List<SubastaAPI>? subastas;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var authenticationState = await authenticationStateTask;
        Name = authenticationState.User.Identity.Name;
        await LoadAuctions();
    }

    private async Task LoadAuctions()
    {
        subastas = await apiClient.GetAuctions();
    }

    private void ShowProducts(int auctionid)
    {
        navManager.NavigateTo($"/products/{auctionid}", true);
    }

    private void AddNew(int auctionid)
    {
        navManager.NavigateTo($"/newProducto/{auctionid}", true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await js.InvokeVoidAsync("initializeTooltips");
    }
}
