@page "/newProducto/{auction}"

@using APIService.Models
@using AuctionBlazorWebApp.Models.ViewModels
@using System.Security.Claims
@using APIService

@inject APIService apiClient
@inject NavigationManager navManager
@inject IJSRuntime JS
@attribute [Authorize]

<div class="container py-2">
    <div class="card">
        <div class="card-header justify-content-center">
            Agregar nuevo producto
        </div>
        <div class="card-body">
            <h5 class="card-title m-2">Ingrese los datos del producto</h5>
            <EditForm Model="@addProductModel" OnValidSubmit="AddProduct">
                <DataAnnotationsValidator />
                <div class="row g-3 align-items-center mt-2 mb-1">
                    <div class="row">
                        <label for="inputPassword6" class="col-form-label">Nombre del producto</label>
                    </div>
                    <div class="col-auto mt-1 mb-2">
                        <InputText @bind-Value="addProductModel.Nombre" class="form-control" placeholder="Nombre"></InputText>
                        <ValidationMessage For="() => addProductModel.Nombre"></ValidationMessage>
                    </div>
                    <div class="col-auto mt-1 mb-2">
                        <span id="passwordHelpInline" class="form-text">
                            Debe tener por lo menos 8 caracteres.
                        </span>
                    </div>
                    <div class="col-auto mt-1 mb-2">
                    </div>
                </div>
                <div class="row g-3 align-items-center mt-2 mb-1">
                    <div class="row">
                        <label for="inputPassword6" class="col-form-label">Descripcion</label>
                    </div>
                    <div class="mb-2 m-0 row text-justify">
                        <InputTextArea @bind-Value="addProductModel.Descripcion" class="form-control" placeholder="Ingrese una descripcion..." rows="3"></InputTextArea>
                        <ValidationMessage For="() => addProductModel.Descripcion"></ValidationMessage>
                    </div>
                    <div id="descriptionHelpBlock" class=" mt-2 mb-2 form-text">
                        Describe las caracteristicas del producto, debe contener por lo menos 12 caracteres.
                    </div>
                </div>
                <div class="row g-3 mt-2 mb-1 align-items-center">
                    <div class="col-auto m-2 mb-2">
                        <label for="inputPassword6" class="col-form-label">Precio base</label>
                    </div>
                    <div class="col-auto mt-1 mt-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text text-success">$</span>
                            <InputNumber @bind-Value="addProductModel.PrecioBase" class="form-control" placeholder="Precio"></InputNumber>
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <div class="col-auto m-2 mt-2 mb-1">
                        <ValidationMessage For="() => addProductModel.PrecioBase"></ValidationMessage>
                    </div>
                </div>
                <div class="row g-3 mt-2 mb-1 align-items-center">
                    <div class="col-sm m-2 mb-2">
                        <!-- Upload image input-->
                        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-secondary shadow-sm">
                            <InputFile id="upload" hidden accept="image/*" OnChange="FileUploaded"></InputFile>
                            <label id="upload-label" class="font-weight-light text-body-tertiary">Elige un archivo</label>
                            <div class="input-group-append">
                                <label for="upload" class="btn btn-outline-secondary m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-primary-emphasis"></i><small class="text-uppercase font-weight-bold text-primary-emphasis">Elige un archivo</small></label>
                            </div>
                        </div>
                        <p class="text-white text-center"><em>La imagen se mostrara abajo.</em></p>
                        <div class="image-area mt-4"><img id="imageResult" src="@GetPreviewImage()" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="" class="btn btn-primary">Cancelar</a>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string auction { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private ProductoViewModel addProductModel = new();
    const int MAX_FILESIZE = 5000 * 1024;
    public string ErrorMessage { get; set; } = "";
    public byte[] imageData { get; set; } = null;
    public string FileType { get; set; } = "";

    public async Task FileUploaded(InputFileChangeEventArgs e)
    {
        var browserFile = e.File;

        try
        {

            if (browserFile != null)
            {
                using (var memoryStream = new MemoryStream())
                {
                    var fileStream = browserFile.OpenReadStream(MAX_FILESIZE);
                    await fileStream.CopyToAsync(memoryStream);
                    imageData = memoryStream.ToArray();
                    FileType = Path.GetExtension(browserFile.Name);
                }
                GetPreviewImage();
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }

    private string? GetPreviewImage()//para cargar en edicion al subir imagen nueva
    {
        if (imageData != null && FileType != null)
            return $"data:image/{FileType.Trim('.')};base64,{Convert.ToBase64String(imageData)}";
        else if (addProductModel?.Imagen != null && !string.IsNullOrEmpty(addProductModel.ImageExtension))
            return $"data:image/{addProductModel.ImageExtension.Trim('.')};base64,{Convert.ToBase64String(addProductModel.Imagen)}";
        else
            return "";
    }

    private async Task AddProduct()
    {
        int subastaid = int.Parse(auction);
        var authenticationState = await authenticationStateTask;
        var user = authenticationState.User;
        var userIdClaim = user.FindFirst(c => c.Type == "nameid" || c.Type == ClaimTypes.NameIdentifier);
        if (userIdClaim.Value == null)
        {
            navManager.NavigateTo("/login", true);
        }
        int userId = int.Parse(userIdClaim.Value);

        var newproducto = new ProductoAPI
            {
                Nombre = addProductModel.Nombre,
                PrecioBase = addProductModel.PrecioBase,
                Descripcion = addProductModel.Descripcion,
                Imagen = imageData,
                ImageExtension = FileType,
                FechaSolicitud = DateTime.Now,
                EstadoDeSolicitud = false


            };

        await apiClient.SaveProduct(newproducto, userId, subastaid);
        navManager.NavigateTo("/", true);
    }
}
