@page "/products/{auction}/{productcount}"
@page "/products/{productcount}"

@using APIService.Models
@using APIService
@using System.Security.Claims
@using AuctionBlazorWebApp.Models.Helper
@using AuctionBlazorWebApp.Models.ViewModels
@using AuctionBlazorWebApp.Components
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore
@using System.Linq.Expressions
@inject IJSRuntime JSRuntime
@inject APIService apiClient
@attribute [Authorize]

<div class="container-fluid justify-content-center">
@if (auction != null)
{
    <PageTitle>Subasta N°@auction</PageTitle>
            <h1>Productos de subasta N°@auction</h1>
            @if (subasta != null){
            <p class="text-primary-emphasis p-2 fs-4">@subasta.Descripcion</p>
            }
}
else
{
    <PageTitle>Productos</PageTitle>
            <h1 class="">Productos disponibles</h1>
}
    <div class="d-flex mx-1 mb-3 align-items-center flex-wrap flex-md-nowrap flex-lg-nowrap">
        <div class="input-group my-2 me-2 pb-1">
            <span class="input-group-text border-0 bg-body-tertiary" id="basic-addon1">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <div class="form-floating">
                <input type="search" class="form-control rounded-end-2" id="floatingInput" autofocus @bind="search" @bind:event="oninput" placeholder="Buscar..." />
                <label for="floatingInput" >Buscar</label>
            </div>
        </div>
        <div class="align-self-center d-flex flex-row">
            <div class="dropdown me-2">
                <button class="btn dropdown-toggle text-start bg-body-tertiary shadow rounded-2 focus-ring-warning" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="--bs-btn-padding-x:1rem;">
                    <i class="fa-solid fa-filter fa-2x mx-1" style="color: #FFD43B;"></i> Filtrar
                </button>
                <div class="dropdown-menu px-3">
                    <h6 class="dropdown-header text-warning-emphasis">Filtrar productos</h6>
                    <div class="form-check">
                        <input class="form-check-input" @onclick='(() => SelectedFilter = "Con ofertas")' type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">Con ofertas</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" @onclick='(() => SelectedFilter = "Sin ofertas")' type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">Sin ofertas</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" @onclick='(() => SelectedFilter = "")' type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                        <label class="form-check-label" for="flexRadioDefault3">Todos</label>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn dropdown-toggle text-start bg-body-tertiary shadow rounded-2 focus-ring-warning" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-sort fa-2x mx-1" style="color: #FFD43B;"></i> Ordenar
                </button>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">Ordenar por</h6>
                    @if (SortField != "PrecioBase")
                    {
                        <button class="dropdown-item" @onclick='(() => SetSort("PrecioBase", "desc"))'><i class="fa-solid fa-sort mx-2" style="color: #FFD43B;"></i>Precio</button>
                    }
                    else
                    {
                        <button class="dropdown-item" @onclick='(() => SetSort("PrecioBase", "asc"))'><i class="fa-solid fa-sort-@(SortOrder == "asc" ? "up" : "down") mx-2" style="color: #FFD43B;"></i>Precio</button>
                    }
                    @if (SortField != "CantidadDeOfertas")
                    {
                        <button class="dropdown-item" @onclick='(() => SetSort("CantidadDeOfertas", "desc"))'><i class="fa-solid fa-sort mx-2" style="color: #FFD43B;"></i>Cantidad de ofertas</button>
                    }
                    else
                    {
                        <button class="dropdown-item" @onclick='(() => SetSort("CantidadDeOfertas", "asc"))'><i class="fa-solid fa-sort-@(SortOrder == "asc" ? "up" : "down") mx-2" style="color: #FFD43B;"></i>Cantidad de ofertas</button>
                    }
                    @if (SortField != "Nombre")
                    {
                        <button class="dropdown-item" @onclick='(() => SetSort("Nombre", "desc"))'><i class="fa-solid fa-sort mx-2" style="color: #FFD43B;"></i>Nombre</button>
                    }
                    else
                    {
                        <button class="dropdown-item" @onclick='(() => SetSort("Nombre", "asc"))'><i class="fa-solid fa-sort-@(SortOrder == "asc" ? "up" : "down") mx-2" style="color: #FFD43B;"></i>Nombre</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @if (products == null)
        {
            for (int i = 0; i < int.Parse(productcount); i++)
            {
                <div class="col-md-3 gap-5 mb-3 mt-3">
                    <div class="col shadow-lg rounded-top-3">
                        <div class="card-sl">
                            <div class="image-container">
                                <div class="first">
                                    <div class="d-flex justify-content-end align-items-end">
                                        <span class="wishlist text-light pull-right placeholder-glow" disabled data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Cantida de ofertas"></span>
                                    </div>
                                </div>
                                <img src="placeholder.jpg" class="img-fluid rounded-top-3 card-img-top img-fit" alt="Producto Image" />
                            </div>
                        </div>
                        <div class="card-heading bg-body-secondary">
                            <span class="placeholder col-6 mx-2 mt-2 mb-3"></span>
                        </div>
                        <div class="card-text text-body-tertiary bg-body-secondary px-2">
                            <span class="placeholder place col-7"></span>
                            <span class="placeholder-glow col-4"></span>
                            <span class="mx-1 placeholder col-4"></span>
                        </div>
                        <div class="card-text text-success bg-body-secondary py-2">
                            <span class="mx-2 placeholder col-6"></span>
                        </div>
                    </div>
                    <div class="rounded-bottom-3 text-center bg-body-tertiary shadow">
                        <span class="py-3 card-button disabled placeholder placeholder-lg bg-warning col-12 text-decoration-none fw-bold"></span>
                    </div>
                </div>
            }
        }
        else if (Filteredproductos?.Any() ?? false)
        {
            @foreach (var product in Filteredproductos)
            {
                <ProductRowItemComponent ProductRowItem="product"
                                         ShowOnly="@(auction == null)"
                                         IdUsuario="UserId"
                                         UpdateProduct="LoadProducts" />


            }
        }
        else
        {
            <div class="px-4 py-5 my-5 text-center">
                <h1 class="display-6 fw-bold text-nowrap text-body-tertiary">-<span class="text-wrap">No hay productos disponibles para mostrar</span>-</h1>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public string auction { get; set; }
    [Parameter]
    public string productcount { get; set; }
    private string Name;
    private int UserId;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private List<ProductoAPI>? products;
    private IQueryable<ProductoAPI>? itemsqueriable;
    private bool showOnly;
    private SubastaAPI? subasta = new();
    private string? search;
    public string SelectedFilter { get; set; } = "Todos";
    public string SortField { get; set; } = "";
    public string SortOrder { get; set; } = "none";

    IQueryable<ProductoAPI>? Filteredproductos
    {
        get
        {
            var result = itemsqueriable;

            if (!string.IsNullOrEmpty(search))
            {
                result = itemsqueriable.Where(c => c.Nombre.Contains(search, StringComparison.OrdinalIgnoreCase) || c.Descripcion.Contains(search, StringComparison.OrdinalIgnoreCase));
            }

            if (SelectedFilter == "Con ofertas")
            {
                result = result.Where(c => c.CantidadDeOfertas > 0);
            }
            else if (SelectedFilter == "Sin ofertas")
            {
                result = result.Where(c => c.CantidadDeOfertas == 0);
            }

            if (!string.IsNullOrEmpty(SortField))
            {
                {
                    var parameter = Expression.Parameter(typeof(ProductoAPI), "c");
                    var property = Expression.Property(parameter, SortField);
                    var orderByExpression = Expression.Lambda(property, parameter);


                    var methodName = SortOrder == "asc" ? "OrderBy" : "OrderByDescending";
                    var resultMethod = typeof(Queryable).GetMethods()
                        .First(m => m.Name == methodName && m.GetParameters().Length == 2)
                        .MakeGenericMethod(typeof(ProductoAPI), property.Type);


                    result = (IQueryable<ProductoAPI>)resultMethod.Invoke(null, new object[] { result, orderByExpression });
                }
            }

            return result;
        }
    }



    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var authenticationState = await authenticationStateTask;
        Name = authenticationState.User.Identity.Name;
        var user = authenticationState.User;
        var userIdClaim = user.FindFirst(c => c.Type == "nameid" || c.Type == ClaimTypes.NameIdentifier);
        UserId = int.Parse(userIdClaim.Value);
        if (auction != null)
        {
            await ObtainSubasta(int.Parse(auction));
        }
        await LoadProducts();
    }

    private async Task LoadProducts()
    {
        if (auction is not null)
        {
            products = await apiClient.GetProductsEnabledOfAuctionWithOferta(int.Parse(auction));
            itemsqueriable = products.AsQueryable();
        }
        else
        {
            var all = await apiClient.GetAllowedProductsWithOfertas();
            if (all is not null)
            {
                products = all.Where(p => p.Status != "sold" && p.Status != "notsold").ToList();
                itemsqueriable = products.AsQueryable();
            }
        }
    }

    protected override void OnParametersSet()
    {
        showOnly = auction != null;
    }

    private async Task ObtainSubasta(int id)
    {
        subasta = await apiClient.GetAuction(id);
    }

    public void SetSort(string field, string order)
    {
        SortField = field;
        SortOrder = SortOrder == "asc" ? "desc" : "asc";
        StateHasChanged();
    }
}